<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead><tr>Produktliste</tr></thead>
    <tbody>
    <tr th:each="product : ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <form action="/products/{id}/update" method="get">
                <input type="hidden" id="id" th:value="${product.id}">
                <input type="submit" value="Update">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form action="/products/create">
    <input type="submit" value="Opret produkt" />
</form>
</body>
</html>